.criteria__container {
    display: grid;
    grid-gap: 8px;
    text-align: left;
    grid-auto-flow: row;
}

.criteria__container > button {
    justify-self: center;
}

.criteria__add {
    padding: 0;
    background: #F24998;
    border-radius: 15%;
    color: white;
}

@media screen and (min-width: 769px) {
    .criteria__container {
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-auto-flow: column;
    }

    .criteria__container > * {
        grid-row: 1;
    }
}
